<tb-form layout="" server-save-method="POST" model-key="10248" server-url="http://services.odata.org/V3/Northwind/Northwind.svc/Orders" server-save-url="http://services.odata.org/V3/Northwind/Northwind.svc/Orders" service-name="odata">
    <div class="page-header">
        <h1>Northwind Order Detail</h1>
    </div>

    <tb-numeric-editor name="OrderID" label="Order ID" editor-type="numeric"
                       show-label="true" placeholder="" required="true"
                       read-only="false" format="" help="">
    </tb-numeric-editor>
    <tb-simple-editor name="CustomerID" label="Customer ID" editor-type="string"
                      show-label="true" placeholder="" required="true"
                      read-only="false" format="" help="">
    </tb-simple-editor>
    <tb-numeric-editor name="EmployeeID" label="Employee ID" editor-type="numeric"
                       show-label="true" placeholder="" required="true"
                       read-only="false" format="" help="">
    </tb-numeric-editor>
    <tb-date-time-editor name="OrderDate" label="Order Date" editor-type="date"
                         show-label="true" placeholder="" required="true"
                         read-only="false" format="" help="">
    </tb-date-time-editor>
    <tb-date-time-editor name="RequiredDate" label="Required Date" editor-type="date"
                         show-label="true" placeholder="" required="true"
                         read-only="false" format="" help="">
    </tb-date-time-editor>
    <tb-date-time-editor name="ShippedDate" label="Shipped Date" editor-type="date"
                         show-label="true" placeholder="" required="true"
                         read-only="false" format="" help="">
    </tb-date-time-editor>
    <tb-numeric-editor name="ShipVia" label="Ship Via" editor-type="numeric"
                       show-label="true" placeholder="" required="true"
                       read-only="false" format="" help="">
    </tb-numeric-editor>
    <tb-simple-editor name="Freight" label="Freight" editor-type="string"
                      show-label="true" placeholder="" required="true"
                      read-only="false" format="" help="">
    </tb-simple-editor>
    <tb-simple-editor name="ShipName" label="Ship Name" editor-type="string"
                      show-label="true" placeholder="" required="true"
                      read-only="false" format="" help="">
    </tb-simple-editor>
    <tb-simple-editor name="ShipAddress" label="Ship Address" editor-type="string"
                      show-label="true" placeholder="" required="true"
                      read-only="false" format="" help="">
    </tb-simple-editor>
    <tb-simple-editor name="ShipCity" label="Ship City" editor-type="string"
                      show-label="true" placeholder="" required="true"
                      read-only="false" format="" help="">
    </tb-simple-editor>
    <tb-numeric-editor name="ShipPostalCode" label="Ship Postal Code" editor-type="numeric"
                       show-label="true" placeholder="" required="true"
                       read-only="false" format="" help="">
    </tb-numeric-editor>
    <tb-simple-editor name="ShipCountry" label="Ship Country" editor-type="string"
                      show-label="true" placeholder="" required="true"
                      read-only="false" format="" help="">
    </tb-simple-editor>
    <tb-form-buttons show-cancel="true"></tb-form-buttons>
</tb-form>